<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Lista de tareas en notas
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor = "let todo of todos">
      <ion-item lines="inset" button [routerLink]="['/details', todo.id]">
        <ion-label>
          {{todo.tarea}}
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(item)" color="secundary">
          <ion-icon name="checkmark" slot="end"></ion-icon>

        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
    <ion-icon name="add">      
    </ion-icon>
    </ion-fab-button>  
  </ion-fab>
</ion-content>
